<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/AKKASH/IdeaProjects/Selenium_Basics/src/test/java/SampleWebsite/Login_Test.java">
        <classes><class name="SampleWebsite.Login_Test">
            <methods>
                <include name="Login_Valid"/>
                <include name="Login_InValid"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>